[submodule "nginx/msa-nginx-dashboard"]
	path = nginx/msa-nginx-dashboard
	url = git@github.com:TheMicroservicesAgency/msa-nginx-dashboard.git
[submodule "nginx/nginx-module-vts"]
	path = nginx/nginx-module-vts
	url = git@github.com:vozlt/nginx-module-vts.git
[submodule "swagger/msa-swagger-ui"]
	path = swagger/msa-swagger-ui
	url = git@github.com:TheMicroservicesAgency/msa-swagger-ui.git
[submodule "nginx/msa-readme-parser"]
	path = nginx/msa-readme-parser
	url = git@github.com:TheMicroservicesAgency/msa-readme-parser.git
